.header_outer_container{
    position: sticky;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: reb(148,132,132);
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in ;
    z-index: 1;
    list-style: none;
    
}
.nav_black{
    background-color: rgb(20,20,20);
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header_left ul {
    width: 140%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.header_right ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 120%;
}